/* fonts */
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700,700italic);

/* general style */
.body    { font: 15px/25px 'Merriweather', serif;
          text-align: center;
          margin: 0; 
          padding: 0; 
          font-weight: 300; 
        }

.input-field    { font: 25px 'Merriweather', serif;
          }
.container {
          max-width: 500px;

}

.charts {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0px; 
}

a       { color: black; font-weight: 400; }
a:hover { color: #CC0033; }

/* headlines */
h1, h2, h3, h4, h5, h6      { font-family: 'Merriweather', serif;
                              font-weight: 300; color: #223; 
                              margin-bottom: 1px; }

h1 a:hover, h2 a:hover,
h3 a:hover      { text-decoration: underline; }
h1                          { font-size: 42px; }
h2                          { font-size: 32px; line-height: 40px; }
h3                          { font-size: 18px; line-height: 40px; background: #FED0D0; padding: 18px;}
h4                          { font-size: 24px; margin-bottom: 10px;}
h5                          { font-size: 18px; margin-top: 10px;}


textarea, code,
pre          { font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono',
               monospace!important; font-size: 15px; background: #eee; padding: 7px 7px;}

/* layout elements */
div.container               { margin: 0px auto; padding: 0; }
div.header                  { float: left; }
div.navigation              { float: right; }
div.header, div.navigation  { height: 25px; margin-bottom: 42px; }
div.navigation ul           { margin: 0; padding: 0; list-style: none; }
div.navigation ul li        { display: inline; margin: 0 2px; padding: 0; }
div.body                    { clear: both; }
div.footer                  { border-top: 1px solid #555; padding-top: 9px;
                              margin-top: 42px; font-size: 16px;
                              text-align: center; color: #555; }
div.footer p                { margin: 0; }
b.date1 {
  color: #880033;
}

/* margins and stuff */
p { 
      text-align: left;}
dt                              { margin: 25px 0 16px 0; padding: 0; }
dd                              { margin: 16px 0 25px 40px; padding: 0; }
ul ol, ol ul, ul ul, ol ol      { margin: 10px 0; padding: 0 0 0 40px; }
li                              { padding: 0; }
h1 + p.date                     { margin-top: -25px; }

/* footnotes */
table.footnote          { margin: 15px 0; background: transparent; border: none; }
table.footnote td       { border: none; padding: 9px 0 0 0; font-size: 15px; }
table.footnote td.label { padding-right: 10px; }
table.footnote td p     { margin: 0; }
table.footnote td p + p { margin-top: 15px; }

img.align-center        { margin: 17px auto; display: block; }
